<section class="home_page">
  <h1>For my Bestie on Your Birthday</h1>

  <article class="homepage_image">
    <img src="/assets/kayla_faceplant.png", alt="Faceplant, c. April 2012" />
  </article>

  <h2>I Love You to the Moon and Back</h2>
</section>
