<section class="home_page">
  <h1>For my Bestie on Her Birthday</h1>

  <h2>I love you to the moon and back.</h2>

  <img src="../../../assets/images/faceplant_2012.jpg", alt="faceplant c. Spring 2012"/>
</section>
