<section class="home_page">
  <h1>For my <span id="bestie">Bestie</span> on Your <span id="birthday">Birthday</span>!!</h1>

  <article class="homepage_image row">
    <%=image_tag("kayla_faceplant.png", alt:"Faceplant, c. April 2012", class:"small-12 large-9") %>
  </article>

  <h2>I Love You to the Moon and Back!!!!</h2>
</section>
